body{
    background-color: #E0E0E0;
    background-size: cover;
}
h2{
    padding-left: 450px;
    font-weight: bold;
}

#cont{
    padding-left: 150px;
}

i.fa {
    font-size:2rem;
    padding-right: 40px;
    padding-bottom: 0.2rem;
  }
  
  .social-links i.fa {
    font-size: 2rem;
    padding-right: 0.8rem;
    padding-bottom: 1rem;
    font-weight:bold;
    text-align: center;
  }
  
  @media screen and (max-width: 39.9375em) {
    .social-links {
      padding: 2rem 0;
    }
    .social-links i.fa {
      font-size: 2rem;
      display: block;
      padding-right: 0;
      padding-bottom: 0.5rem;
      font-weight: bold;
      text-align: center;
    }
    .social-links .columns {
      margin: 1rem 0;
    }
    .social-links .mobile-stack {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
 
}